<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <!-- For more information on Entity Framework configuration, visit http:go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Ejecución DAILY: HORARIO DEFINIDO(ScheduledTime) - Interval: CADA N(IntervalMinutes) MINUTOS-->
    <!--<add key="Mode" value="DAILY" />-->
    <add key="Mode" value="Interval" /> 
    <add key="IntervalMinutes" value="1" />
    
    <add key="Mode.Clean" value="Interval" /> 
    <add key="IntervalMinutes.Clean" value="40" />
    
    <!--<add key="Mode" value="INTERVALSECONDS" />-->
    <!--<add key="IntervalSeconds" value="55" />-->
    <!-- <add key="ScheduledTime" value="09:00" />-->
    
    <!--CONEXIÓN A COLA DE IBM-MQ-->
    
    <add key="strQueueManagerName" value="gestor_colas"/>
    <add key="strChannelName" value="CLOUD.APP.SVRCONN"/>
    <add key="strQueueName" value="DEV.QUEUE.1"/>
    <add key="strServerName" value="gestor-colas-38b6.qm.au-syd.mq.appdomain.cloud"/>
    <add key="intPort" value="31525"/>
    <add key="user" value="sbperu"/>
    <!--<add key="password" value="2edvBCO0tpk70UIgPnceHYe8zRTxRj3SBoWcIx-YKZzD"/>-->
    <add key="password" value="2edvBCO0tpk70UIgPnceHYe8z3SBoWcIx-YKZzD"/>
    
    <add key="path" value="C:\AIS\Pendientes\"/>
    <add key="detinationPath" value="C:\AIS\Procesados\"/>
    <add key="fileName" value="SRV_L101_FLST_RT_LIM02_MQ_info_"/>
    
  </appSettings>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=SBPERU11\MSSQLSERVER01;Initial Catalog=bd_prueba;Integrated Security=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>